/* GLOBAL */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8f8f8;
  color: #111;
  line-height: 1.6;
}

/* NAVBAR */


/* HERO */
.hero {
  padding: 100px 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background: linear-gradient(to right, #00b4d8, #0077b6); */
  background: #f8f9fa;
  color: white;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 15px;

}

.tagline {

  font-size: 18px;
  max-width: 700px;
  margin: auto;
}

.cta-btn {
  background: #111;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 25px;
  font-size: 18px;
  max-width: 300px;
  /* display: flex;
  justify-content: center;
  align-items: center;
 */

}

.cta-btn:hover {
  background: #222;
    transform: scale(1.05);
 justify-content: center;

}

.big {
  padding: 18px 35px;
  font-size: 20px;
justify-content: center;}

/* SECTIONS */
.section {
  padding: 60px 30px;
  text-align: center;
}

.section.alt {
  background: #e6f7ff;
}

/* CARDS */
.features-grid {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
}

.card {
  background: white;
  padding: 22px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000025;
    transition: transform 0.3s ease ;

}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 18px rgba(0, 0, 0,.15);
}
.card h3 {
  margin-bottom: 10px;
}

/* A11Y LIST */
.a11y-list {
  max-width: 500px;
  margin: auto;
  text-align: left;
  font-size: 18px;
  list-style: disc;
}

.a11y-list li {
  margin: 10px 0;
}
#Service{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */

    padding: 50px;
    background-color: #95dcfd;
    border-radius: 20px;
      /* height: 500px; */
    
    /* margin: 100px 200px; */

  transform: translateY(-10px);
  
}
#Service:hover{
  box-shadow: 0 4px 20px rgba(0,0,0,0.6);
  transform: translateY(-20px);
  transition: all 0.3s ease;
}
#content h1 {
   font-size: 3rem;
   color: white;
    
}
/* #content h1:hover{
  transform: translateY(-10px);
} */

#content {
    padding: 20px 10px;
}
#content p{
    line-height: 1.5rem;
    color: white;
    font-size: 1.2rem;
    margin-top: 20px; 
    justify-content: center;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
/* #ser{
    color: rgb(45, 185, 240);
} */
.cta-btn {
    height: 50px;
    width: 300px;
    font-size: larger;
    background-color:#2d3c89 ;
    padding: 2px;
    color:  white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease  ;
}
.cta-btn:hover{
    background-color: #f8f9fa;
    border: 1px solid #2d3c89;
    color: #2d3c89;
}
img{
    padding: 20px;
    height: 400px;
    border-radius: 40px;
}
.h2_a{
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #111;
}
.h2_b{
  font-size: 30px;
    margin-bottom: 40px;
    color: #111;
    font-weight: 700;
}
#h3_a{
    font-size: 1.5rem;
    /* margin-bottom: 15px; */
}