    .navbar {
    background: #2d3c89;
  padding:14px 28px;
  height: 107px;
  position:sticky;
  top:0; z-index:999;
  display:flex;
  justify-content:space-between;
  align-items:center;
  backdrop-filter:blur(10px);
  /* box-shadow:0 4px 20px rgba(0,0,0,0.6); */
    }


    .nav-links {
        display: flex;
        gap: 28px;
        list-style: none;
        margin: 0;
        padding: 0;
        align-items: center;
    }

    .nav-links a {
        text-decoration: none;
        color: var(--bg);
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        padding: 6px 8px;
        position: relative;
        transition: all .18s ease;
    }

    .nav-links a:hover {
        color: #0073d8;
        text-shadow: 0 0 8px rgba(0, 234, 255, 0.12);
       
    }

    .nav-links a.active {
        color: #0073d8;
        text-shadow: 0 0 10px rgba(0, 234, 255, 0.14)
    }

    .nav-links a::after {
        content: "";
        height: 2px;
        width: 0;
        background: var(--accent);
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: all .22s ease;
    }

    .nav-links a:hover::after,
    .nav-links a.active::after {
        width: 100%
    }
        .logo {
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: 600;
        font-size: 1.8rem;
        letter-spacng: 0.3px;
    }
/* .logo-dot{
  width:14px;height:14px;border-radius:4px;
  background:linear-gradient(135deg,var(--accent),var(--accent-2));
  box-shadow:0 0 10px #0077b6;
} */

    .logo .mark {
        width: 36px;
        height: 36px;
        border-radius: 8px;
        background: linear-gradient(135deg, var(--accent), var(--accent-2));
        display: inline-block;
        box-shadow: 0 6px 18px rgba(0, 180, 216, 0.18);
    }


    /* hamburger (mobile) */
    .hamburger {
        display: none;
        width: 42px;
        height: 36px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.03);
        border: 1px solid rgba(255, 255, 255, 0.03);
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .hamburger span {
        display: block;
        width: 18px;
        height: 2px;
        background: #fff;
        border-radius: 2px;
        position: relative;
    }

    .hamburger span::before,
    .hamburger span::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: #fff;
        border-radius: 2px;
    }

    .hamburger span::before {
        top: -6px
    }

    .hamburger span::after {
        top: 6px
    }

